<?xml version="1.0" encoding="UTF-8" ?>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%c] %m%n"/>
        </Console>
        <RollingFile name="arquivo"
                     fileName="${sys:catalina.home}/logs/pedido-venda.log"
                     filePattern="${sys:catalina.home}/logs/pedido-venda-%d{yyyy-MM-dd}-%i.log.log">
            <PatternLayout pattern="%d %-5p [%c] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPollicy/>
                <TimeBasedTriggeringPollicy size="1 MB"/>
            </Policies>

        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"></AppenderRef>
            <AppenderRef ref="arquivo"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>